// @import '../../styles/variable';

.header {
  color: $theme-color;
  text-decoration: dashed;
}

.bold {
  height: 20vh;
  border: 1px dashed yellowgreen;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
}
